extends ../base/layout.pug
include ./mixin

block main
    #js-anchor__services
        +section ({
            title: "services",
            classType: 2,
            grid: 4,

            columnOneImg: '../../image/icone/coffee.png',
            columnTwoImg: '../../images/icone/instant.png',
            columnThreeImg: '../../images/icone/serious.png',
            columnFourImg: '../../images/icone/frame.png',

            columnOneTitle: "coffee",
            columnTwoTitle: "instant",
            columnThreeTitle: "serious",
            columnFourTitle: "frame",

            columnOne: "Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.",
            columnTwo: "Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.",
            columnThree: "Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes.",
            columnFour: "Apple pie icing sweet. Brownie jelly-o applicake applicake sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie. Tiramisu applicake jujubes."
        })

    #js-anchor__portofolio
        +portofolio ({
            image11: "portofolio/photos1.jpg",
            image12: 'portofolio/photos2.jpg',
            image13: 'portofolio/photos3.jpg',
            image14: 'portofolio/photos4.jpg',        
            image21: "portofolio/photos5.jpg",
            image22: 'portofolio/photos6.jpg',
            image23: 'portofolio/photos7.jpg',
            image24: 'portofolio/photos8.jpg'
        })

    #js-anchor__features
        +section ({
            title: "just default section",
            classType: 1,
            grid: 2,

            columnTwoImg: 'portofolio/video.png',

            columnOne: 'Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes ',
            columnTwo: "",
            columnThree: "",
            columnFour: ""
        })

    +section ({
        title: "twitter",
        classType: 2,
        grid: 1,
        columnOne: "Unerdwear cookie liquorie. Cake donut cupcake lollipop souffle candy, Choolate oat cake @cheesecake tootsie roll",
        columnTwo: "",
        columnThree: "",
        columnFour: ""
    })

    +section ({
        title: "who is john doe?",
        classType: 4,
        grid: 2,
        columnOne: "Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.",
        columnTwo: "Pudding dessert jujubes tiramisu gingerbread croissant tiramisu applicake. Sesame snaps sugar plum cotton candy chocolate bonbon lemon drops candy canes cotton candy. Cake toffee pie bear claw pastry",
        columnThree: "",
        columnFour: ""
    })

    #js-anchor__testmonials
        +section ({
            title: "testimonials",
            classType: 3,
            grid: 1,
            columnOne: "Applicake chocolate cake wafer toffee pie soufflé wafer. Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie soufflé sweet roll sweet roll jelly-o.",
            columnTwo: "",
            columnThree: "",
            columnFour: ""
        })

    #js-anchor__contact
        +section-contact()

        
       


   

    
