.footer
    .footer__grid
        .grid
            .grid__cell
                ul.footer__list
                    li.footer__list-item home
                    li.footer__list-item services
                    li.footer__list-item portofolio
                    li.footer__list-item contact
