.header
	#js-anchor__home
		img(class="header-banner" src="../../image/banner/img-banner.png" alt="banner image")
		nav
			.header__grid
				.grid
					.grid__cell(class="1/3")
						p.header__nav-text blu<span class="header__nav-textcolor">e</span>asy
					.grid__cell(class="2/3")
						ul.header__menu
							li.header__menu--item
								a(href="javascript:void(0)" class="header__link" id="js-home__link" onclick='scrollTo("js-home__link","js-anchor__home")') home
							li.header__menu--item
								a(href="javascript:void(0)" class="header__link" id="js-services__link" onclick='scrollTo("js-services__link","js-anchor__services")') services
							li.header__menu--item
								a(href="javascript:void(0)" class="header__link" id="js-features__link" onclick='scrollTo("js-features__link","js-anchor__features")') features
							li.header__menu--item
								a(href="javascript:void(0)" class="header__link" id="js-portofolio__link" onclick='scrollTo("js-portofolio__link","js-anchor__portofolio")') portofolio
							li.header__menu--item
								a(href="javascript:void(0)" class="header__link" id="js-contact__link" onclick='scrollTo("js-contact__link","js-anchor__contact")') contact
		.header__grid
			.header__content
				h1.header__title-up "i'm looking for the unexpected.
				h1.header__title-down i'm looking for things i've never seen before."